#order_wrap{
    width:1000px; margin:0 auto;
    display:flex; flex-flow: row nowrap; 
    justify-content:space-around;
}
#order_wrap .left{b;width: 500px;}
#order_wrap .left img{width: 100%; }
#order_wrap .right{b width:calc(100% - 550px);}
#order_wrap .right .top{: lime;}
#order_wrap .right .top h1{font-size:1.2rem; padding:20px 0;}
#order_wrap .right .top>p:nth-child(2){
    color:#aaa; margin-bottom:10px; padding-bottom:10px;
    border-bottom:1px solid #aaa; 
}
#order_wrap .right .top dl {
    display:grid;
    grid-template-columns: 100px 1fr;
    gap: 0 10px;
}
#order_wrap .right .top dl dt{ padding:10px 0; margin:0;}    
#order_wrap .right .top dl dd{ padding:10px 0; margin:0;}
#order_wrap .right .top dl dd.price{font-weight:700;}
#order_wrap .right .top .number{
    display:flex; flex-flow: row nowrap; justify-content:space-between;
    align-items:center; padding:10px 0; margin:10px 0; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd;
}
#order_wrap .right .top .number p{}
#order_wrap .right .top .number .order_number{}
#order_wrap .right .top .number .order_number input[name=num]{
    background: #fff; border:1px solid #ccc; width: 50px; height: 30px; text-align:center; padding:5px;
}
#order_wrap .right .top .number .order_number span{}
#order_wrap .right .top .total_price{
    display:flex; flex-flow: row nowrap; justify-content:space-between;
    align-items:center; padding:20px 0;
}
#order_wrap .right .top .total_price p{}
#order_wrap .right .top .total_price p.result_price{ color:#ff0101; font-weight:700; font-size:1.2rem;}
#order_wrap .right .bottom {
    text-align:center; padding:20px 0;
}
#order_wrap .right .bottom button{
    padding:15px 0px; border:none; border-radius:5px; font-size:1rem;
}
#order_wrap .right .bottom #order_btn{width:150px; background:#ff0101; color:#fff;}
#order_wrap .right .bottom #cart_btn{width:120px; background:#a9a9a9; color:#fff;}
#order_wrap .right .bottom #like_btn{width:120px; background:#ddd; color:#000;}

